@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);
/*—————————————————————————————————————————————————————————————————————————————————————————————————————
ResetCSS
—————————————————————————————————————————————————————————————————————————————————————————————————————*/
/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.7;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/*
  Josh's Custom CSS Reset end
*/
/*—————————————————————————————————————————————————————————————————————————————————————————————————————
基本CSS
—————————————————————————————————————————————————————————————————————————————————————————————————————*/
section {
  overflow: hidden;
}

li {
  list-style-type: none;
}

/*—————————————————————————————————————————————————————————————————————————————————————————————————————
フォント設定
—————————————————————————————————————————————————————————————————————————————————————————————————————*/
.notosans {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: bold;
  font-size: 16px;
}
@media (max-width: 768px) {
  .notosans {
    font-size: 15px;
  }
}

.hiragino-mincho {
  font-family: "Hiragino Mincho ProN", "ヒラギノ明朝 ProN", "Hiragino Mincho Pro", "ヒラギノ明朝 Pro", serif;
  font-size: 37px;
}
@media (max-width: 768px) {
  .hiragino-mincho {
    font-size: 27px;
  }
}

.helvetica {
  font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
  color: #105C8D;
  font-size: 22px;
}
@media (max-width: 768px) {
  .helvetica {
    font-size: 20px;
  }
}

.red {
  color: #FF0000;
}

/*—————————————————————————————————————————————————————————————————————————————————————————————————————
IOS対応
—————————————————————————————————————————————————————————————————————————————————————————————————————*/
body {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
       text-size-adjust: 100%;
}

/*————————————————————————————————————————————————————————
レスポンシブ表示非表示切り替え
—————————————————————————————————————————————————————————————————————————————*/
@media (max-width: 768px) {
  .pc {
    display: none;
  }
}

@media (min-width: 769px) {
  .sp {
    display: none;
  }
}

/*—————————————————————————————————————————————————————————————————————————————————————————————————————
本体のCSS
—————————————————————————————————————————————————————————————————————————————————————————————————————*/
header {
  background: rgb(0, 0, 0);
  background: linear-gradient(90deg, rgb(0, 0, 0) 31%, rgb(5, 127, 174) 100%);
  height: 75px;
  position: fixed;
  width: 100%;
  box-shadow: 0 3px 14px rgba(255, 255, 255, 0.4);
  z-index: 999;
}
@media (max-width: 768px) {
  header {
    height: 59px;
  }
}
header .header_inner {
  max-width: 980px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
@media (max-width: 980px) {
  header .header_inner {
    padding-right: 20px;
    padding-left: 20px;
  }
}
header .header_inner .logo_pc {
  height: 75px;
}
header .header_inner .logo_sp {
  height: 59px;
}
header .header_inner .logo_pc:hover,
header .header_inner .logo_sp:hover {
  opacity: 0.5;
}
header .header_inner .cta_btn_head {
  width: 254px;
  transition: 0.3s;
}
@media (max-width: 768px) {
  header .header_inner .cta_btn_head {
    width: 176px;
  }
}
header .header_inner .cta_btn_head:hover {
  box-shadow: 0 15px 30px -5px rgba(0, 0, 0, 0.15), 0 0 5px rgba(0, 0, 0, 0.1);
  transform: translateY(-4px);
}

#fv {
  padding-top: 75px;
  position: relative;
}
@media (max-width: 980px) {
  #fv {
    padding-top: 59px;
  }
}
#fv .cta_btn {
  width: 29%;
  position: absolute;
  top: 73%;
  left: 17%;
  transition: 0.3s;
}
@media (max-width: 768px) {
  #fv .cta_btn {
    width: 75%;
    position: absolute;
    top: 85%;
    left: 12%;
  }
}
#fv .cta_btn:hover {
  box-shadow: 0 15px 30px -5px rgba(0, 0, 0, 0.15), 0 0 5px rgba(0, 0, 0, 0.1);
  transform: translateY(-4px);
}

#problem {
  position: relative;
  z-index: 2;
}

#four_point {
  margin-top: -2%;
}
@media (max-width: 768px) {
  #four_point {
    margin-top: -9%;
  }
}

#point3 .accordion {
  width: 81%;
  margin: 70px auto 0;
  position: relative;
}
@media (max-width: 768px) {
  #point3 .accordion {
    width: 90%;
    margin: 0px auto 70px;
  }
}
#point3 .accordion img {
  height: 0;
  visibility: hidden;
  overflow: hidden;
  transition: 0.4s;
}
#point3 .accordion summary {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 2em;
  background-color: #F2FAFF;
  color: #000000;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
  border-top: 1px solid #105C8D;
  border-bottom: 1px solid #105C8D;
}
@media (max-width: 768px) {
  #point3 .accordion summary {
    padding: 1em;
    font-size: 18px;
  }
}
#point3 .accordion summary::-webkit-details-marker {
  /* Safariで表示されるデフォルトの三角形アイコンを消す */
  display: none;
}
#point3 .accordion summary[open] {
  border-bottom: none;
}
#point3 .accordion summary::after {
  content: "▼";
  margin-left: 7%;
  color: #105C8D;
}
#point3 .accordion.open img {
  height: auto;
  visibility: visible;
}
#point3 .accordion.open summary {
  border-bottom: none;
}
#point3 .accordion.open summary::after {
  content: "▲";
  color: #105C8D;
  font-size: 20px;
}

#cta {
  position: relative;
}
#cta .cta_btn {
  width: 29%;
  position: absolute;
  top: 60%;
  left: 34%;
  transition: 0.3s;
}
@media (max-width: 768px) {
  #cta .cta_btn {
    width: 75%;
    position: absolute;
    top: 57%;
    left: 13%;
  }
}
#cta .cta_btn:hover {
  box-shadow: 0 15px 30px -5px rgba(0, 0, 0, 0.15), 0 0 5px rgba(0, 0, 0, 0.1);
  transform: translateY(-4px);
}

#faq {
  max-width: 960px;
  margin: 100px auto 150px;
}
@media (max-width: 768px) {
  #faq {
    margin: 40px auto 60px;
  }
}
@media (max-width: 960px) {
  #faq {
    padding: 0 20px;
  }
}
#faq .faq_text_01 {
  display: inline-block;
  color: #105C8D;
}
#faq .faq_text_02 {
  display: inline-block;
  color: #105C8D;
  margin-left: 27px;
  margin-bottom: 25px;
}
#faq .accordion-001 {
  max-width: 960px;
  margin-bottom: 20px;
  background-color: #ffffff;
  border-top: 1px solid #105C8D;
  border-bottom: 1px solid #105C8D;
}
#faq .accordion-001 summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 1em 2em;
  background-color: #F2FAFF;
  color: #000000;
  font-weight: 600;
  cursor: pointer;
}
#faq .accordion-001 summary::-webkit-details-marker {
  display: none;
}
#faq .accordion-001 summary::-webkit-details-marker {
  display: none;
}
#faq .accordion-001 summary::before,
#faq .accordion-001 summary::after {
  width: 2px;
  height: 0.9em;
  background-color: #105C8D;
  content: "";
  margin-left: 10px;
}
#faq .accordion-001 summary::before {
  position: absolute;
  right: 2em;
  rotate: 90deg;
}
#faq .accordion-001 summary::after {
  transition: rotate 0.3s;
}
#faq .accordion-001:not([open]) {
  border-top: 1px solid #105C8D;
  border-bottom: 1px solid #105C8D;
}
#faq .accordion-001[open] summary::after {
  rotate: 90deg;
}
#faq .accordion-001 p {
  transform: translateY(-10px);
  opacity: 0;
  margin: 0;
  padding: 1em 2em;
  color: #333333;
  transition: transform 0.5s, opacity 0.5s;
}
#faq .accordion-001[open] p {
  transform: none;
  opacity: 1;
}

#contact {
  background-color: #F2FAFF;
}
#contact .contact_inner {
  max-width: 725px;
  margin: 65px auto;
  text-align: center;
}
@media (max-width: 768px) {
  #contact .contact_inner {
    width: 90%;
    margin: 25px auto;
  }
}
#contact .contact_inner .sec_ttl h3 {
  margin-bottom: 71px;
}
@media (max-width: 768px) {
  #contact .contact_inner .sec_ttl h3 {
    margin-bottom: 20px;
  }
}
#contact .contact_inner .required {
  text-align: left;
}
@media (min-width: 769px) {
  #contact .contact_inner form .contact_flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 38px 0;
  }
}
@media (max-width: 768px) {
  #contact .contact_inner form .contact_flex {
    text-align: left;
    margin: 15px 0;
  }
}
#contact .contact_inner form .contact_flex input[type=text]:-webkit-autofill,
#contact .contact_inner form .contact_flex input[type=number]:-webkit-autofill,
#contact .contact_inner form .contact_flex input[type=email]:-webkit-autofill,
#contact .contact_inner form .contact_flex textarea:-webkit-autofill {
  box-shadow: 0 0 0 1000px white inset;
}
#contact .contact_inner form .contact_flex input[type=text],
#contact .contact_inner form .contact_flex input[type=number],
#contact .contact_inner form .contact_flex input[type=email],
#contact .contact_inner form .contact_flex textarea,
#contact .contact_inner form .contact_flex select {
  flex-basis: 70%;
  border: 2px solid #A7A7A7;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  padding: 0.5em;
}
@media (max-width: 768px) {
  #contact .contact_inner form .contact_flex input[type=text],
  #contact .contact_inner form .contact_flex input[type=number],
  #contact .contact_inner form .contact_flex input[type=email],
  #contact .contact_inner form .contact_flex textarea,
  #contact .contact_inner form .contact_flex select {
    width: 100%;
  }
}
@media (min-width: 769px) {
  #contact .contact_inner form .contact_flex select {
    flex-basis: 35%;
    margin-left: 11.5%;
  }
}
#contact .contact_inner form .contact_flex input[type=text]:focus,
#contact .contact_inner form .contact_flex input[type=number]:focus,
#contact .contact_inner form .contact_flex input[type=email]:focus,
#contact .contact_inner form .contact_flex textarea:focus,
#contact .contact_inner form .contact_flex select:focus {
  border-color: #000000;
  /* 枠線の色 */
  outline: none;
  /* ※ブラウザが標準で付加する線を消す */
}
#contact .contact_inner form .contact_flex .privacypolicy {
  font-size: 14px;
  font-weight: 500;
  flex-basis: 70%;
  height: 240px;
  overflow-y: scroll;
  padding: 12px 25px;
  border: 0;
  background-color: #e7e7e7;
  line-height: 1.5;
  text-align: left;
}
#contact .contact_inner form .contact_flex .privacypolicy::-webkit-scrollbar {
  width: 10px;
}
#contact .contact_inner form .contact_flex .privacypolicy::-webkit-scrollbar-track {
  background: #f6f6f6;
}
#contact .contact_inner form .contact_flex .privacypolicy::-webkit-scrollbar-thumb {
  background: #747373;
  border-radius: 5px;
}
#contact .contact_inner form .contact_flex.select {
  justify-content: start;
}
#contact .contact_inner form .privacypolicy_flex input[type=checkbox] {
  display: none;
}
@media (min-width: 769px) {
  #contact .contact_inner form .privacypolicy_flex input[type=checkbox]:hover + span {
    color: #c5c5c5;
    transition: all 0.25s ease;
  }
}
#contact .contact_inner form .privacypolicy_flex input[type=checkbox] + span {
  cursor: pointer;
  position: relative;
  margin: 0;
  padding: 0 1em 0 1.8em;
  font-size: inherit;
  box-sizing: border-box;
  transition: opacity 0.25s ease;
}
#contact .contact_inner form .privacypolicy_flex input[type=checkbox] + span:before {
  content: "";
  opacity: 1;
  display: block;
  position: absolute;
  top: 2.5px;
  left: 0;
  width: 1.24em;
  height: 1.24em;
  border: 1px solid #ccc;
  border-radius: 0;
  background-color: #fff;
  box-sizing: border-box;
  transition: opacity 0.25s ease;
  z-index: 1;
}
@media (max-width: 768px) {
  #contact .contact_inner form .privacypolicy_flex input[type=checkbox] + span:before {
    top: 0;
  }
}
#contact .contact_inner form .privacypolicy_flex input[type=checkbox]:checked + span::before {
  opacity: 1;
  transition: opacity 0.25s ease;
}
#contact .contact_inner form .privacypolicy_flex input[type=checkbox] + span:after {
  content: "";
  opacity: 0;
  display: block;
  position: absolute;
  top: 0.28em;
  left: 0.4em;
  width: 0.4em;
  height: 0.8em;
  border-bottom: 2px solid #000;
  border-right: 2px solid #000;
  box-sizing: border-box;
  transform: rotate(40deg);
  transition: opacity 0.25s ease;
  z-index: 10;
}
#contact .contact_inner form .privacypolicy_flex input[type=checkbox]:checked + span::after {
  opacity: 1;
  border-bottom: 2px solid #000;
  border-right: 2px solid #000;
  transition: opacity 0.25s ease;
}
#contact .contact_inner form .submit_btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  background-color: transparent;
  border: none;
  width: 188px;
  margin: 60px auto;
  transition: 0.3s;
}
#contact .contact_inner form .submit_btn:hover {
  transform: translateY(-4px);
}

#floating .floating_banner {
  position: fixed;
  bottom: 0;
  right: 0;
  text-align: right;
  height: auto;
  max-width: 340px;
  opacity: 0;
  z-index: 3;
}
@media (max-width: 768px) {
  #floating .floating_banner {
    max-width: 100%;
  }
}
#floating .floating_banner.is-fixed {
  opacity: 1;
  transition: 0.6s ease;
  z-index: 99;
}

footer {
  background-color: #105C8D;
  height: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer .copyright {
  color: #fff;
  font-weight: 400;
}/*# sourceMappingURL=style.css.map */